In [12]:
import pandas as pd
import tensorflow as tf
import matplotlib.pyplot as plt
import numpy as np
from sqlalchemy import create_engine

In [13]:
education_df = pd.read_csv('./ml_master.csv')
education_df.head()

,zipcode,Total Students Enrolled_x,Average_School_Rating,MEDIAN HOUSEHOLD INCOME,MEDIAN INCOME BLACK/AA,MEDIAN INCOME INDIGENOUS PEOPLE,MEDIAN INCOME ASIAN,MEDIAN INCOME HAW/PAC ISLANDER,MEDIAN INCOME OTHER RACE,MEDIAN INCOME MIXED RACE,...,School Name,School Rating,School Address,City,Grades,Total Students Enrolled_y,Students Per Teacher,District,total_school_rating_points,San Diego County Zip Codes
0,91901,1560.0,5.953846,79859.0,143917.0,53750.0,78625.0,0.0,48026.0,0.0,...,The Heights Charter,7.0,"2710 Alpine Boulevard, Suite E",Alpine,K-8,244.0,15:1,Dehesa Elementary,1708.0,91901.0
1,91901,1560.0,5.953846,79859.0,143917.0,53750.0,78625.0,0.0,48026.0,0.0,...,Boulder Oaks Elementary,6.0,2320 Tavern Road,Alpine,1-5,333.0,24:1,Alpine Union Elementary,1998.0,91901.0
2,91901,1560.0,5.953846,79859.0,143917.0,53750.0,78625.0,0.0,48026.0,0.0,...,Joan MacQueen Middle,6.0,2001 Tavern Road,Alpine,6-8,438.0,20:1,Alpine Union Elementary,2628.0,91901.0
3,91901,1560.0,5.953846,79859.0,143917.0,53750.0,78625.0,0.0,48026.0,0.0,...,Shadow Hills Elementary,6.0,8770 Harbison Canyon Road,Alpine,K-5,387.0,20:1,Alpine Union Elementary,2322.0,91901.0
4,91901,1560.0,5.953846,79859.0,143917.0,53750.0,78625.0,0.0,48026.0,0.0,...,Alpine Elementary,4.0,1850 Alpine Boulevard,Alpine,1-5,158.0,20:1,Alpine Union Elementary,632.0,91901.0

In [3]:
education_df.shape

(754, 59)

**There are 754 rows and 59 columns**

In [4]:
education_df = education_df.dropna()

**Removed any N/A fields in the rows, now we have 696 rows**

In [5]:
education_df.columns

Index(['zipcode', 'Total Students Enrolled_x', 'Average_School_Rating',
       'MEDIAN HOUSEHOLD INCOME', 'MEDIAN INCOME BLACK/AA',
       'MEDIAN INCOME INDIGENOUS PEOPLE', 'MEDIAN INCOME ASIAN',
       'MEDIAN INCOME HAW/PAC ISLANDER', 'MEDIAN INCOME OTHER RACE',
       'MEDIAN INCOME MIXED RACE', 'MEDIAN INCOME WHITE/NOT LATINO',
       'MEDIAN INCOME HISPANIC/LATINO', 'o25_10th_grade_attained_ratio',
       'o25_11th_grade_attained_ratio', 'o25_12th_grade_started_ratio',
       'o25_high_school_completed_ratio', 'o25_ged_attained_ratio',
       'o25_less_one_yr_college_ratio', 'o25_more_one_yr_college_ratio',
       'o25_assoc_degree_completed_ratio', 'o25_bach_degree_completed_ratio',
       'o25_masters_degree_completed_ratio',
       'o25_professional_degree_completed_ratio',
       'o25_doctoral_degree_completed_ratio', 'married_ratio',
       'female_hoh_ratio', 'male_hoh_ratio', 'non_family_ratio',
       'POPULATION_TOTAL', 'population_white_ratio',
       'population_black_aa_ratio', 'population_indigenous_ratio',
       'population_asian_ratio', 'population_haw_pac_islander_ratio',
       'population_other_ratio', 'population_mixed_ratio',
       'population_hispanic_latino_ratio', 'Theft Count_x', 'latitude_x',
       'longitude_x', 'Substance Abuse Count_x', 'Violent Count_x',
       'Miscellaneous Count_x', 'Theft Count_y', 'latitude_y', 'longitude_y',
       'Substance Abuse Count_y', 'Violent Count_y', 'Miscellaneous Count_y',
       'School Name', 'School Rating', 'School Address', 'City', 'Grades',
       'Total Students Enrolled_y', 'Students Per Teacher', 'District',
       'total_school_rating_points', 'San Diego County Zip Codes'],
      dtype='object')

In [6]:
education_df_clean = education_df.drop(['total_school_rating_points', 'longitude_x', 'latitude_x', 'Theft Count_x',
                                        'Violent Count_x', 'Substance Abuse Count_x', 'Miscellaneous Count_x',
                                        'San Diego County Zip Codes', 'Average_School_Rating'], axis=1)
education_df_clean

,zipcode,Total Students Enrolled_x,MEDIAN HOUSEHOLD INCOME,MEDIAN INCOME BLACK/AA,MEDIAN INCOME INDIGENOUS PEOPLE,MEDIAN INCOME ASIAN,MEDIAN INCOME HAW/PAC ISLANDER,MEDIAN INCOME OTHER RACE,MEDIAN INCOME MIXED RACE,MEDIAN INCOME WHITE/NOT LATINO,...,Violent Count_y,Miscellaneous Count_y,School Name,School Rating,School Address,City,Grades,Total Students Enrolled_y,Students Per Teacher,District
0,91901,1560.0,79859.0,143917.0,53750.0,78625.0,0.0,48026.0,0.0,88039.0,...,50.0,52.0,The Heights Charter,7.0,"2710 Alpine Boulevard, Suite E",Alpine,K-8,244.0,15:1,Dehesa Elementary
1,91901,1560.0,79859.0,143917.0,53750.0,78625.0,0.0,48026.0,0.0,88039.0,...,50.0,52.0,Boulder Oaks Elementary,6.0,2320 Tavern Road,Alpine,1-5,333.0,24:1,Alpine Union Elementary
2,91901,1560.0,79859.0,143917.0,53750.0,78625.0,0.0,48026.0,0.0,88039.0,...,50.0,52.0,Joan MacQueen Middle,6.0,2001 Tavern Road,Alpine,6-8,438.0,20:1,Alpine Union Elementary
3,91901,1560.0,79859.0,143917.0,53750.0,78625.0,0.0,48026.0,0.0,88039.0,...,50.0,52.0,Shadow Hills Elementary,6.0,8770 Harbison Canyon Road,Alpine,K-5,387.0,20:1,Alpine Union Elementary
4,91901,1560.0,79859.0,143917.0,53750.0,78625.0,0.0,48026.0,0.0,88039.0,...,50.0,52.0,Alpine Elementary,4.0,1850 Alpine Boulevard,Alpine,1-5,158.0,20:1,Alpine Union Elementary
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
735,92672,3181.0,77829.0,0.0,0.0,92614.0,0.0,56964.0,103520.0,80927.0,...,0.0,0.0,San Onofre Elementary,9.0,200 Pate Road,San Clemente,K-6,422.0,18:1,Fallbrook Union Elementary
736,92672,3181.0,77829.0,0.0,0.0,92614.0,0.0,56964.0,103520.0,80927.0,...,0.0,0.0,Concordia Elementary,7.0,3120 Avenida Del Presidente,San Clemente,K-5,575.0,25:1,Capistrano Unified
737,92672,3181.0,77829.0,0.0,0.0,92614.0,0.0,56964.0,103520.0,80927.0,...,0.0,0.0,Shorecliffs Middle,7.0,240 Via Socorro,San Clemente,6-8,929.0,26:1,Capistrano Unified
738,92672,3181.0,77829.0,0.0,0.0,92614.0,0.0,56964.0,103520.0,80927.0,...,0.0,0.0,Las Palmas Elementary,5.0,1101 Calle Puente,San Clemente,K-5,889.0,27:1,Capistrano Unified
739,92672,3181.0,77829.0,0.0,0.0,92614.0,0.0,56964.0,103520.0,80927.0,...,0.0,0.0,Clarence Lobo Elementary,4.0,200 Avenida Vista Montana,San Clemente,K-5,366.0,21:1,Capistrano Unified

In [7]:
education_df_clean.columns

Index(['zipcode', 'Total Students Enrolled_x', 'MEDIAN HOUSEHOLD INCOME',
       'MEDIAN INCOME BLACK/AA', 'MEDIAN INCOME INDIGENOUS PEOPLE',
       'MEDIAN INCOME ASIAN', 'MEDIAN INCOME HAW/PAC ISLANDER',
       'MEDIAN INCOME OTHER RACE', 'MEDIAN INCOME MIXED RACE',
       'MEDIAN INCOME WHITE/NOT LATINO', 'MEDIAN INCOME HISPANIC/LATINO',
       'o25_10th_grade_attained_ratio', 'o25_11th_grade_attained_ratio',
       'o25_12th_grade_started_ratio', 'o25_high_school_completed_ratio',
       'o25_ged_attained_ratio', 'o25_less_one_yr_college_ratio',
       'o25_more_one_yr_college_ratio', 'o25_assoc_degree_completed_ratio',
       'o25_bach_degree_completed_ratio', 'o25_masters_degree_completed_ratio',
       'o25_professional_degree_completed_ratio',
       'o25_doctoral_degree_completed_ratio', 'married_ratio',
       'female_hoh_ratio', 'male_hoh_ratio', 'non_family_ratio',
       'POPULATION_TOTAL', 'population_white_ratio',
       'population_black_aa_ratio', 'population_indigenous_ratio',
       'population_asian_ratio', 'population_haw_pac_islander_ratio',
       'population_other_ratio', 'population_mixed_ratio',
       'population_hispanic_latino_ratio', 'Theft Count_y', 'latitude_y',
       'longitude_y', 'Substance Abuse Count_y', 'Violent Count_y',
       'Miscellaneous Count_y', 'School Name', 'School Rating',
       'School Address', 'City', 'Grades', 'Total Students Enrolled_y',
       'Students Per Teacher', 'District'],
      dtype='object')

In [8]:
education_df_clean.columns = ['Zipcode', 'Total Students Enrolled', 'Median Household Income',
       'Median Income BLACK/AA', 'Median Income INDIGENOUS PEOPLE',
       'Median Income ASIAN', 'Median Income HAW/PAC ISLANDER',
       'Median Income OTHER RACE', 'Median Income MIXED RACE',
       'Median Income WHITE/NOT LATINO', 'Median Income HISPANIC/LATINO',
       'o25_10th_grade_attained_ratio', 'o25_11th_grade_attained_ratio',
       'o25_12th_grade_started_ratio', 'o25_high_school_completed_ratio',
       'o25_ged_attained_ratio', 'o25_less_one_yr_college_ratio',
       'o25_more_one_yr_college_ratio', 'o25_assoc_degree_completed_ratio',
       'o25_bach_degree_completed_ratio', 'o25_masters_degree_completed_ratio',
       'o25_professional_degree_completed_ratio',
       'o25_doctoral_degree_completed_ratio', 'married ratio',
       'female hoh ratio', 'male hoh ratio', 'non family ratio',
       'Population Total', 'Population white ratio',
       'Population black/aa ratio', 'Population indigenous ratio',
       'Population asian ratio', 'Population haw/pac islander ratio',
       'Population other ratio', 'Population mixed ratio',
       'Population hispanic/latino ratio', 'Theft Count', 'latitude',
       'longitude', 'Substance Abuse Count', 'Violent Count',
       'Miscellaneous Count', 'School Name', 'School Rating',
       'School Address', 'City', 'Grades', 'Total Students Enrolled',
       'Students Per Teacher', 'District']
education_df_clean

,Zipcode,Total Students Enrolled,Median Household Income,Median Income BLACK/AA,Median Income INDIGENOUS PEOPLE,Median Income ASIAN,Median Income HAW/PAC ISLANDER,Median Income OTHER RACE,Median Income MIXED RACE,Median Income WHITE/NOT LATINO,...,Violent Count,Miscellaneous Count,School Name,School Rating,School Address,City,Grades,Total Students Enrolled,Students Per Teacher,District
0,91901,1560.0,79859.0,143917.0,53750.0,78625.0,0.0,48026.0,0.0,88039.0,...,50.0,52.0,The Heights Charter,7.0,"2710 Alpine Boulevard, Suite E",Alpine,K-8,244.0,15:1,Dehesa Elementary
1,91901,1560.0,79859.0,143917.0,53750.0,78625.0,0.0,48026.0,0.0,88039.0,...,50.0,52.0,Boulder Oaks Elementary,6.0,2320 Tavern Road,Alpine,1-5,333.0,24:1,Alpine Union Elementary
2,91901,1560.0,79859.0,143917.0,53750.0,78625.0,0.0,48026.0,0.0,88039.0,...,50.0,52.0,Joan MacQueen Middle,6.0,2001 Tavern Road,Alpine,6-8,438.0,20:1,Alpine Union Elementary
3,91901,1560.0,79859.0,143917.0,53750.0,78625.0,0.0,48026.0,0.0,88039.0,...,50.0,52.0,Shadow Hills Elementary,6.0,8770 Harbison Canyon Road,Alpine,K-5,387.0,20:1,Alpine Union Elementary
4,91901,1560.0,79859.0,143917.0,53750.0,78625.0,0.0,48026.0,0.0,88039.0,...,50.0,52.0,Alpine Elementary,4.0,1850 Alpine Boulevard,Alpine,1-5,158.0,20:1,Alpine Union Elementary
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
735,92672,3181.0,77829.0,0.0,0.0,92614.0,0.0,56964.0,103520.0,80927.0,...,0.0,0.0,San Onofre Elementary,9.0,200 Pate Road,San Clemente,K-6,422.0,18:1,Fallbrook Union Elementary
736,92672,3181.0,77829.0,0.0,0.0,92614.0,0.0,56964.0,103520.0,80927.0,...,0.0,0.0,Concordia Elementary,7.0,3120 Avenida Del Presidente,San Clemente,K-5,575.0,25:1,Capistrano Unified
737,92672,3181.0,77829.0,0.0,0.0,92614.0,0.0,56964.0,103520.0,80927.0,...,0.0,0.0,Shorecliffs Middle,7.0,240 Via Socorro,San Clemente,6-8,929.0,26:1,Capistrano Unified
738,92672,3181.0,77829.0,0.0,0.0,92614.0,0.0,56964.0,103520.0,80927.0,...,0.0,0.0,Las Palmas Elementary,5.0,1101 Calle Puente,San Clemente,K-5,889.0,27:1,Capistrano Unified
739,92672,3181.0,77829.0,0.0,0.0,92614.0,0.0,56964.0,103520.0,80927.0,...,0.0,0.0,Clarence Lobo Elementary,4.0,200 Avenida Vista Montana,San Clemente,K-5,366.0,21:1,Capistrano Unified

In [9]:
grades = ['K-8', '1-5', 'K-5', 'K-6', 'K-12', '4-5', 'K-3', '3-6', 'PK-8', '3-5', 'K-4', '5-6', '4-6']

In [15]:
remote_db_user = 'postgres'
remote_db_pwd = 'postgres80'
remote_db_endpoint = 'bulldogs-3.cznzpremohjj.us-east-2.rds.amazonaws.com'
remote_db_port = '5432'
remote_db_name = 'Bulldogs'

In [16]:
cloud_engine = create_engine(f"postgresql://{remote_db_user}:{remote_db_pwd}@{remote_db_endpoint}:{remote_db_port}/{remote_db_name}")
cloud_conn = cloud_engine.connect()

In [17]:
education_df_clean.to_sql('ml_master_clean', con=cloud_conn, if_exists='replace', index=False)